<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Edit Profile</string>
			<key>File</key>
			<string>EditProfile</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Notification Settings</string>
			<key>File</key>
			<string>Notification</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Parse Register</string>
			<key>Key</key>
			<string>parseKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Parse Data</string>
			<key>Key</key>
			<string>parsedataKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sync With iCloud</string>
			<key>Key</key>
			<string>icloudKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Titles</key>
			<array>
				<string>System</string>
				<string>Avenir</string>
				<string>Baskerville</string>
				<string>Georgia</string>
				<string>Helvetica Neue</string>
				<string>Hoefler Text</string>
				<string>Verdana</string>
			</array>
			<key>Values</key>
			<array>
				<string>System</string>
				<string>Avenir</string>
				<string>Baskerville</string>
				<string>Georgia</string>
				<string>Helvetica Neue</string>
				<string>Hoefler</string>
				<string>Verdana</string>
			</array>
			<key>Key</key>
			<string>fontKey</string>
			<key>DefaultValue</key>
			<string>fontKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Size</string>
			<key>Titles</key>
			<array>
				<string>12pt</string>
				<string>14pt</string>
				<string>16pt</string>
				<string>18pt</string>
			</array>
			<key>Values</key>
			<array>
				<string>12</string>
				<string>14</string>
				<string>16</string>
				<string>18</string>
			</array>
			<key>Key</key>
			<string>fontsizeKey</string>
			<key>DefaultValue</key>
			<string>fontsizeKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color</string>
			<key>Titles</key>
			<array>
				<string>Blue</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Key</key>
			<string>nameColorKey</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sound</string>
			<key>Key</key>
			<string>soundKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Login</string>
			<key>Key</key>
			<string>loginKey</string>
			<key>DefaultValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Registered</string>
			<key>Key</key>
			<string>registered</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Latitude</string>
			<key>Key</key>
			<string>latitudeKey</string>
			<key>DefaultValue</key>
			<string>40.714353</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Longtitude</string>
			<key>Key</key>
			<string>longtitudeKey</string>
			<key>DefaultValue</key>
			<string>74.005973</string>
		</dict>
	</array>
</dict>
</plist>
